/***** FONTS *****/

/* ROBOTO - font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/***** RESET *****/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


/***** SECTION HERO *****/

.hero {
  background-color: #1d2437;
  background-image: url(../images/bg-hero.png);
}

.hero .container--hero {
  max-width: 1070px;
  margin: auto;
  color: #fff;
}

.hero .container--hero header {
  padding-top: 45px;
}

.hero .container--hero .hero--area {
  display: flex;
}

.hero .container--hero .hero--area .content--hero {
  flex: 1;
}

.hero .container--hero .content--hero h1 {
  margin: 0;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: 500;
  line-height: 50px;
  color: #fff;
}

.hero .container--hero .hero--area .content--hero .subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.4);
}

.hero .container--hero .hero--area .content--hero .form {
  margin-top: 20px;
  margin-bottom: 30px;
}

.hero .container--hero .hero--area .content--hero .form input {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  padding: 5px 10px;
  width: 300px;
  font-size: 14px;
  line-height: 23px;
  color: #fff;
  outline: none;
}

.hero .container--hero .hero--area .content--hero .form button {
  background-color: #0071B7;
  padding: 6px 10px;
  border: none;
  color: ;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  align: center;
  color: #fff;
  cursor: pointer;
}
.hero .container--hero .hero--area .content--hero .form button:hover {
  opacity: .8;
}

.hero .container--hero .hero--area .content--hero .techs {
  display: inline-block;
  margin-bottom: 100px;
}

.hero .container--hero .hero--area .image--hero {
  flex: 1;
  background-image: url(../images/hero.png);
  background-position-y: bottom;
  background-size: 100% auto;
}


/* common */

.container {
  max-width: 900px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/***** INFO *****/

.info {
  height: 100px;
  border-bottom: 2px solid #EAEEF1;
}
.info .info--text {
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  color: #C2C8CB;
  margin: 0 10px;
}

.info .info--circle {
  width: 6px;
  height: 6px;
  background-color: #C2C8CB;
  border-radius: 50%;
  margin: 0 30px;
}


/***** INSTRUCTIONS *****/
.inst {}

.inst .container {
  padding: 70px 0;
  display: block;
}

.inst .inst--item {
  border-left: 3px solid #ECF0F3;
  display: flex;
}

.inst .inst--item .inst--circle {
  width: 17px;
  height: 17px;
  background-color: #0071B7;
  border-radius: 50%;
}

.inst .inst--item .inst--content {}

.inst .inst--item .inst--content h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.inst .inst--item .inst--content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.5);
}




/***** FOOTER *****/
footer {
  height: 300px;
}